@import url("https://rsms.me/inter/inter.css");
:root {
  --color-bg: #fbf9ff;
  --color-text: #645673;
  --color-header: #f8eaff;
  --color-title: #3c3344;
  --color-dark3: #e0aaff;
  --color-dark4: #20122c;
  --color-dark5: #5a189a;
  --color-pink: #7b2cbf;
  --font-main: "Inter", sans-serif;
  --color-purple: #a480f2;
  --color-lightpink: hsla(344, 100%, 73%, 1);
  --mesh-gradient: radial-gradient(
      at 42% 40%,
      hsla(353, 100%, 81%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 86% 5%, hsla(321, 100%, 81%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 79%, hsla(331, 100%, 81%, 1) 0px, transparent 50%),
    radial-gradient(at 11% 81%, hsla(351, 100%, 81%, 1) 0px, transparent 50%);
  --mesh-gradient-transparent: radial-gradient(
      at 42% 40%,
      hsla(353, 100%, 81%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 86% 5%, hsla(321, 100%, 81%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 79%, hsla(331, 100%, 81%, 1) 0px, transparent 50%),
    radial-gradient(at 11% 81%, hsla(351, 100%, 81%, 1) 0px, transparent 50%);
}

@keyframes showSidebar {
  from {
    margin-left: -110vw;
  }
  to {
    margin-left: -8vw;
  }
}

* {
  box-sizing: border-box;
}
body {
  background-size: 40px 40px;
  background-image: radial-gradient(
    circle,
    #a480f225 2px,
    rgba(0, 0, 0, 0) 2px
  );
}

.white {
  color: var(--color-bg);
}

.pink {
  color: var(--color-lightpink);
}

/* width */

::-webkit-scrollbar {
  background: transparent;
  width: 15px;
}

/* Track */

::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #ff759a;
  border-radius: 10px;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fbf9ff;
  background: #a480f2;
}

::selection {
  color: #fbf9ff;
  background: #a480f2;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  scroll-behavior: smooth;
  scrollbar-color: #ff759a var(--color-bg);
  scrollbar-width: 15px;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
}

.nome {
  font-family: var(--font-main);
  font-weight: 800;
  font-size: 2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: var(--color-lightpink);
  background-image: var(--mesh-gradient);
  z-index: 1;
}

h1 {
  font-family: var(--font-main);
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 1.3;
  text-align: left;
  color: var(--color-title);
}

p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.div-about {
  width: 50%;
}

.div-about > *:not(:last-child),
.div-description > *:not(:last-child),
.contact-form > *:not(:last-child) {
  padding-bottom: 1rem;
}

.first-container {
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-container,
.second-container,
.third-container,
.fourth-container {
  max-width: 75%;
}

.first-container,
.third-container,
.fourth-container {
  gap: 4em;
}

/* Começo do espaçamento entre as seções */

.first-section {
  margin-bottom: 6.8rem;
}

.second-section {
  padding: 1.4rem 0;
  /* 2rem para quando clicar em "fotos" ter um espaço sobrando em cima (e 6rem na margin para somar 8rem no total) */
  width: 100%;
  margin: 5.4rem 0;
}

.fourth-section,
.third-section {
  height: 100%;
  margin: 6.8rem 0;
}

/* Fim do espaçamento entre as seções */

.second-container {
  margin: auto;
}

.third-section {
  background-color: var(--color-purple);
}

.third-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 128px 0;
  margin: auto;
}

.fourth-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-section .pictures:nth-child(1),
.second-section .pictures:nth-child(2),
.second-section .pictures:nth-child(3) {
  display: flex;
}

.pictures {
  display: none;
  justify-content: center;
  width: 100%;
}

.pictures img {
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.pictures div {
  aspect-ratio: 1/1.05;
  margin-right: 0.8rem;
  width: 100%;
}

.pictures button {
  width: 100%;
  height: 100%;
}

.div-img {
  aspect-ratio: 1/1.05;
  width: 50%;
}

.img-about {
  object-fit: cover;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

section {
  height: 100%;
  width: 100%;
}

.p {
  text-align: justify;
}

.third-section p {
  color: #eae1fc;
}

.third-section h1 {
  color: var(--color-bg);
}

.div-description {
  align-items: left;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.header,
.headernav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.instagram-navbar {
  display: none;
}

.header {
  background-size: 40px 40px;
  background-image: radial-gradient(
    circle,
    #a480f225 2px,
    rgba(0, 0, 0, 0) 2px
  );
  background-color: #fbf9fff1;
  transition: 0.4s ease;
  z-index: 9999;
  position: sticky;
  top: 0px;
  justify-content: space-between;
  padding: 1.5rem 10%;
}

header.sticky {
  padding: 0.8rem 10%;
}

.headernav {
  gap: 3rem;
  z-index: 2;
}

.headernav > a {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-text);
  transition: 0.6s ease;
}

.header a:hover {
  color: var(--color-lightpink);
}

.content {
  padding-top: 1.5rem;
  z-index: -10;
}

.hamburguer-nav {
  display: none;
  background-color: transparent;
  color: var(--color-title);
  border: none;
  cursor: pointer;
}

/* Slideshow container */

.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */

.mySlides {
  aspect-ratio: 1/1.05;
  display: none;
}

.mySlides img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  width: auto;
  padding: 0.5rem;
  color: var(--color-purple);
  transition: 0.6s ease;
  user-select: none;
}

.slideshow-indicator {
  padding-top: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  gap: 0.5rem;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 4px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  background-color: #a480f228;
}

/* The dots/bullets/indicators */

.dot {
  border-radius: 4px;
  cursor: pointer;
  height: 15px;
  width: 5vw;
  margin: 0 2px;
  background-color: #a480f228;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #a480f2;
}

/* Fading animation */

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

.btn-all {
  transition: 0.6s ease;
  padding: 1.2rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 4px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
}

.btn-contact,
.btn-load,
.btn-contact2:hover {
  background-color: var(--color-lightpink);
  background-image: var(--mesh-gradient);
  filter: drop-shadow(0px 14px 94px rgba(249, 146, 173, 0.15))
    drop-shadow(0px 5.11023px 34.3115px rgba(249, 146, 173, 0.103497))
    drop-shadow(0px 2.48092px 16.6576px rgba(249, 146, 173, 0.0834436))
    drop-shadow(0px 1.21619px 8.16588px rgba(249, 146, 173, 0.0665564))
    drop-shadow(0px 0.480885px 3.2288px rgba(249, 146, 173, 0.0465028));
  color: var(--color-bg);
}

.btn-load:hover,
.btn-contact:hover {
  background-color: hsla(344, 100%, 73%, 0.3);
  background-image: var(--mesh-gradient-transparent);
}

.btn-contact2 {
  background-color: var(--color-bg);
  color: var(--color-purple);
  box-shadow: 0px 14px 94px rgba(133, 94, 217, 0.25),
    0px 5.11023px 34.3115px rgba(133, 94, 217, 0.15),
    0px 2.48092px 16.6576px rgba(133, 94, 217, 0.14),
    0px 1.21619px 8.16588px rgba(133, 94, 217, 0.1),
    0px 0.480885px 3.2288px rgba(133, 94, 217, 0.08);
}

.div-contact {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  line-height: 20px;
  text-align: left;
  padding-top: 1rem;
}

.div-contact a svg:hover {
  transition: 0.6s ease;
  filter: drop-shadow(0px 14px 94px rgba(249, 146, 173, 0.15))
    drop-shadow(0px 5.11023px 34.3115px rgba(249, 146, 173, 0.103497))
    drop-shadow(0px 2.48092px 16.6576px rgba(249, 146, 173, 0.0834436))
    drop-shadow(0px 1.21619px 8.16588px rgba(249, 146, 173, 0.0665564))
    drop-shadow(0px 0.480885px 3.2288px rgba(249, 146, 173, 0.0465028));
  color: rgb(253, 156, 182);
}

.div-contact svg {
  vertical-align: middle;
  transition: 0.6s ease;
}

.btn-pics {
  background-color: var(--color-bg);
  transition: 0.6s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  border: 2px solid var(--color-purple);
  border-radius: 4px;
  color: var(--color-purple);
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 0.9rem;
  gap: 0.5em;
}

.btn-pics:hover {
  border: 2px solid #ffffff00;
  background-color: var(--color-lightpink);
  background-image: var(--mesh-gradient);
  filter: drop-shadow(0px 14px 94px rgba(249, 146, 173, 0.15))
    drop-shadow(0px 5.11023px 34.3115px rgba(249, 146, 173, 0.103497))
    drop-shadow(0px 2.48092px 16.6576px rgba(249, 146, 173, 0.0834436))
    drop-shadow(0px 1.21619px 8.16588px rgba(249, 146, 173, 0.0665564))
    drop-shadow(0px 0.480885px 3.2288px rgba(249, 146, 173, 0.0465028));
  color: var(--color-bg);
  cursor: pointer;
}

.div-load {
  text-align: center;
}

hr.solid {
  border-top: 2px solid var(--color-purple);
  margin: 3rem 10%;
  opacity: 15%;
}

.second-section .dividers:nth-child(1),
.second-section .dividers:nth-child(2),
.second-section .dividers:nth-child(3),
.second-section .dividers:nth-child(4) {
  display: block;
}

.second-section .dividers {
  display: none;
}

.form-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-submit input,
.form-submit textarea {
  padding: 1.2rem;
  font-family: var(--font-main);
  font-size: 0.9rem;
  border: 2px solid var(--color-purple);
  background-color: var(--color-bg);
  border-radius: 4px;
  margin: 0 0 1rem 0;
}

.contact-form {
  width: 50%;
}

.name-email,
.name-email input,
.msg,
.msg textarea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.msg textarea {
  width: 100%;
  height: 14rem;
  resize: none;
}

.form-submit input::placeholder,
.form-submit textarea::placeholder {
  color: #a480f29f;
  font-style: italic;
}

.form-submit input:focus,
.form-submit textarea:focus {
  color: rgb(253, 156, 182);
  outline: none;
  border: 2px solid rgb(253, 156, 182);
}

.form-submit input:focus::placeholder,
.form-submit textarea:focus::placeholder {
  color: rgb(253, 156, 182);
}
